In [1]:
import pandas as pd
file=pd.read_csv('D:/MCA/IMDB Dataset.csv')

In [2]:
file.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [24]:
file['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [ ]:
#The Data is not cleaned

In [5]:
type(file)

pandas.core.frame.DataFrame

In [73]:
data=file.sample(5000)
data.to_csv('a.csv')

In [7]:
data.shape

(5000, 2)

In [74]:
data['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [75]:
data.head()

                                                  review  sentiment
6850   This film could have been a silent movie; it c...          1
33698  This is no doubt one of the worst movies i hav...          0
31964  This is one of my all time favourite movies, i...          1
8680   I mistakenly kept myself awake late last night...          0
26081  the movie touches the soul of the audience ver...          1

In [77]:
data['review'][8680]

"I mistakenly kept myself awake late last night watching this thing. About the only thing I could say good about this horrid film is that it could be used by film schools to show how not to make a movie. No proper character development, wait, I'm not even sure they were characters. Set-ups were hokey and inane, and the overuse of split screens was wasted since sometimes they couldn't even synchronize with alternate shots. If I could give this a zero or minus rating I would. Sadly, it isn't even worth the time for a few laughs.<br /><br /> It's just a sad example of money wasted by Hollywood, and now I waste my time even thinking about it."

In [79]:
#Function to remove html tags
import re
def clean_tag(text):
    clean=re.compile('<.*?>')
    return re.sub(clean,'',text)

In [80]:
data['review']=data['review'].apply(clean_tag)

In [81]:
data['review'][8680]

"I mistakenly kept myself awake late last night watching this thing. About the only thing I could say good about this horrid film is that it could be used by film schools to show how not to make a movie. No proper character development, wait, I'm not even sure they were characters. Set-ups were hokey and inane, and the overuse of split screens was wasted since sometimes they couldn't even synchronize with alternate shots. If I could give this a zero or minus rating I would. Sadly, it isn't even worth the time for a few laughs. It's just a sad example of money wasted by Hollywood, and now I waste my time even thinking about it."

In [82]:
#Converting review to lowercase
def convert_lower(text):
    return text.lower()

data['review']=data['review'].apply(convert_lower)

In [83]:
data['review'][8680]

"i mistakenly kept myself awake late last night watching this thing. about the only thing i could say good about this horrid film is that it could be used by film schools to show how not to make a movie. no proper character development, wait, i'm not even sure they were characters. set-ups were hokey and inane, and the overuse of split screens was wasted since sometimes they couldn't even synchronize with alternate shots. if i could give this a zero or minus rating i would. sadly, it isn't even worth the time for a few laughs. it's just a sad example of money wasted by hollywood, and now i waste my time even thinking about it."

In [84]:
#Remove the special characters
def remove_special(text):
    return re.sub(r'[^a-z0-9]+',r' ', text)

data['review']=data['review'].apply(remove_special)

In [85]:
data['review'][8680]

'i mistakenly kept myself awake late last night watching this thing about the only thing i could say good about this horrid film is that it could be used by film schools to show how not to make a movie no proper character development wait i m not even sure they were characters set ups were hokey and inane and the overuse of split screens was wasted since sometimes they couldn t even synchronize with alternate shots if i could give this a zero or minus rating i would sadly it isn t even worth the time for a few laughs it s just a sad example of money wasted by hollywood and now i waste my time even thinking about it '

In [89]:
#Remove the stopwords
import nltk
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [91]:
def remove_stopwords(text):
    x=[]
    stp_words=stopwords.words('english')
    for str in text.split():
        if str not in stp_words:
            x.append(str)
    
    y=x[:]
    x.clear()
    return y

data['review']=data['review'].apply(remove_stopwords)

In [93]:
data.head()

                                                  review  sentiment
6850   [film, could, silent, movie, certainly, feel, ...          1
33698  [doubt, one, worst, movies, seen, long, time, ...          0
31964  [one, time, favourite, movies, ur, cars, forge...          1
8680   [mistakenly, kept, awake, late, last, night, w...          0
26081  [movie, touches, soul, audience, much, scene, ...          1

In [96]:
#Perform stemming
from nltk.stem.porter import PorterStemmer
stm=PorterStemmer()

In [105]:
def stemming(text):
    x=[]
    for i in text:
        x.append(stm.stem(i))
    y=x[:]
    x.clear()
    return y

stemming(['i','am','loving','loved','it','bored','boring'])

['i', 'am', 'love', 'love', 'it', 'bore', 'bore']

In [99]:
data['review']=data['review'].apply(stemming)

In [101]:
# Join back

def join_back(list_input):
    return " ".join(list_input)    
data['review']=data['review'].apply(join_back)

In [102]:
data.head()

                                                  review  sentiment
6850   film could silent movi certainli feel one extr...          1
33698  doubt one worst movi seen long time expect alo...          0
31964  one time favourit movi ur car forget movi feat...          1
8680   mistakenli kept awak late last night watch thi...          0
26081  movi touch soul audienc much scene movi ultim ...          1

In [103]:
data['review']

6850     film could silent movi certainli feel one extr...
33698    doubt one worst movi seen long time expect alo...
31964    one time favourit movi ur car forget movi feat...
8680     mistakenli kept awak late last night watch thi...
26081    movi touch soul audienc much scene movi ultim ...
                               ...
11653    saw film 12 year ago tnt susanah york birthday...
33734    might spoiler first start watch movi thought o...
26828    grey garden 1975 maysl brother bizarr document...
24699    disappoint film perform actor weak set fine co...
48297    footprint certainli averag run mill giallo bad...
Name: review, Length: 5000, dtype: object

In [241]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=2000)

In [242]:
X=cv.fit_transform(data['review']).toarray()

In [243]:
X.shape

(5000, 2000)

In [244]:
y=data.iloc[:,-1].values
y

array([1, 0, 1, ..., 1, 0, 1], dtype=int64)

In [245]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [246]:
y_test.shape

(1500,)

In [247]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

gauss=GaussianNB()
multi=MultinomialNB()
bernli=BernoulliNB()

In [248]:
gauss.fit(x_train,y_train)
multi.fit(x_train,y_train)
bernli.fit(x_train,y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [249]:
y_p1=gauss.predict(x_test)
y_p2=multi.predict(x_test)
y_p3=bernli.predict(x_test)

In [250]:
from sklearn.metrics import accuracy_score,confusion_matrix

print("Gaussian ",accuracy_score(y_test,y_p1))
print("Multinomial ",accuracy_score(y_test,y_p2))
print("Bernoulli ",accuracy_score(y_test,y_p3))

confusion_matrix(y_test,y_p3)

Gaussian  0.738
Multinomial  0.8313333333333334
Bernoulli  0.8333333333333334

array([[590, 145],
       [105, 660]], dtype=int64)

In [251]:

def sentiment_analyse(s):
    s=clean_tag(s)
    s=convert_lower(s)
    s=remove_special(s)
    s=remove_stopwords(s)
    #s=stemming(s)
    s=join_back(s)
    srs=data['review'].append(pd.Series(s))
    z=cv.fit_transform(srs).toarray()
    pre=bernli.predict(z)
    if pre[-1]==1:
        print('Positive Review')
    else:
        print('Negative Review')

In [254]:
s=input("Enter the text: ")
sentiment_analyse(s)

Enter the text: The acting is not good also the songs are not catchy.
Positive Review

In [186]:
srs=data['review'].append(pd.Series(s))
srs

6850     film could silent movi certainli feel one extr...
33698    doubt one worst movi seen long time expect alo...
31964    one time favourit movi ur car forget movi feat...
8680     mistakenli kept awak late last night watch thi...
26081    movi touch soul audienc much scene movi ultim ...
                               ...
33734    might spoiler first start watch movi thought o...
26828    grey garden 1975 maysl brother bizarr document...
24699    disappoint film perform actor weak set fine co...
48297    footprint certainli averag run mill giallo bad...
0                                                     good
Length: 5001, dtype: object

In [187]:
z=cv.fit_transform(srs).toarray()

In [189]:
pre=multi.predict(z)

In [192]:
if pre[-1]==1:
    print('Positive Review')
else:
    print('Negative Review')

1